doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/scripts.js")
  body
    block content
    include header
    include search-text
    include search-dropdown
    #search-results