//- extends index

block search-text
  form(onsubmit="return searchByText()")
    label Arrondissement : 
    input#borough-field(type="text")
    br
    button(onclick="searchByText()" type='button') Chercher
    br