table
  tr
    th Nom
    th Description
    th Cartier
    th État
  each val in results
    tr
      td !{JSON.stringify(val.name)}
      if val.description
        td !{JSON.stringify(val.description)}
      else
        td N/A
      td !{JSON.stringify(val.borough)}
      if val.condition
        td !{JSON.stringify(val.condition)}
      else
        td N/A